@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

@font-face {
  font-family: "abc";
  src: local("Comic Sans MS");
}

$font-family-base: abc, Noto Sans Tc;
$bgc-from: #fbab7e;
$bgc-to: #f7ce68;
